<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleDevelopmentRegion</key>
    <string>lt</string>
    <key>CFBundleDisplayName</key>
    <string>Gintaras balsas</string>
    <key>CFBundleExecutable</key>
    <string>$(EXECUTABLE_NAME)</string>
    <key>CFBundleIdentifier</key>
    <string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
    <key>CFBundleInfoDictionaryVersion</key>
    <string>6.0</string>
    <key>CFBundleName</key>
    <string>$(PRODUCT_NAME)</string>
    <key>CFBundlePackageType</key>
    <string>XPC!</string>
    <key>CFBundleShortVersionString</key>
    <string>1.0</string>
    <key>CFBundleVersion</key>
    <string>1</string>
    <key>NSExtension</key>
    <dict>
        <key>NSExtensionPointIdentifier</key>
        <string>com.apple.speech.synthesis.provider</string>
        <key>NSExtensionPrincipalClass</key>
        <string>$(PRODUCT_MODULE_NAME).GintarasSpeechSynthesizer</string>
        <key>NSExtensionAttributes</key>
        <dict>
            <key>AudioComponents</key>
            <array>
                <dict>
                    <key>name</key>
                    <string>Rosa Soft: Gintaras</string>
                    <key>description</key>
                    <string>Gintaras Lithuanian voice</string>
                    <key>factoryFunction</key>
                    <string>$(PRODUCT_MODULE_NAME).GintarasSpeechSynthesizer</string>
                    <key>manufacturer</key>
                    <string>Rosa</string>
                    <key>type</key>
                    <string>ssyn</string>
                    <key>subtype</key>
                    <string>gint</string>
                    <key>version</key>
                    <integer>1</integer>
                    <key>tags</key>
                    <array>
                        <string>Speech Synthesizer</string>
                    </array>
                </dict>
            </array>
        </dict>
    </dict>
</dict>
</plist>
