<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.rosasoft.wintalker.GintarasApp"
        android:allowBackup="true"
        android:label="@string/app_name"
        android:theme="@style/Theme.Gintaras">

        <activity
            android:name="com.rosasoft.wintalker.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name="com.rosasoft.wintalker.TtsService"
            android:label="@string/app_name"
            android:exported="true"
            android:directBootAware="false">
            <intent-filter>
                <action android:name="android.intent.action.TTS_SERVICE" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data
                android:name="android.speech.tts"
                android:resource="@xml/tts_engine" />
        </service>

        <activity
            android:name="com.rosasoft.wintalker.CheckVoiceData"
            android:theme="@android:style/Theme.NoDisplay"
            android:exported="true">
            <intent-filter>
                <action android:name="android.speech.tts.engine.CHECK_TTS_DATA" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.rosasoft.wintalker.GetSampleText"
            android:label="@string/app_name"
            android:theme="@android:style/Theme.NoDisplay"
            android:exported="true">
            <intent-filter>
                <action android:name="android.speech.tts.engine.GET_SAMPLE_TEXT" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.rosasoft.wintalker.SettingsActivity"
            android:label="@string/general_settings"
            android:exported="true" />

        <activity
            android:name="com.rosasoft.wintalker.ModifyDictionary"
            android:label="@string/modify_dictionary"
            android:exported="false" />
    </application>
</manifest>
